<header>
  <%= image_tag("logo.png", :alt => "Harulog", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Profile", '#' %></li>
      <li><%= link_to "Settings", '#' %></li>
      <li><%= link_to "Logout", '#' %></li>
    </ul>
  </nav>
</header>
